# Игнорировать папку node_modules
node_modules/

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать временные файлы системы
*.DS_Store
Thumbs.db

# Игнорировать папки с файлами сборки
/build/
/dist/
